.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

01_patrimonios_mundiais_cache/
01_patrimonios_mundiais_files/
01_patrimonios_mundiais.html
#01_patrimonios_mundiais_solucoes.Rmd
01_patrimonios_mundiais_solucoes.html

02_estatisticas_brasileiras_cache/
02_estatisticas_brasileiras_files/
02_estatisticas_brasileiras.html


02_estatisticas_brasileiras_solucoes_cache/
02_estatisticas_brasileiras_solucoes_files/
#02_estatisticas_brasileiras_solucoes.Rmd
02_estatisticas_brasileiras_solucoes.html

scripts/densidade_populacional.R
